@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Light.eot);
  src: url(../fonts/apercu/Apercu-Lightd41dd41d.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/apercu/Apercu-Light.woff2) format("woff2"),
    url(../fonts/apercu/Apercu-Light.woff) format("woff"),
    url(../fonts/apercu/Apercu-Light.ttf) format("truetype"),
    url(../fonts/apercu/Apercu-Light.svg#Apercu-Light) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-LightItalic.eot);
  src: url(../fonts/apercu/Apercu-LightItalicd41dd41d.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/apercu/Apercu-LightItalic.woff2) format("woff2"),
    url(../fonts/apercu/Apercu-LightItalic.woff) format("woff"),
    url(../fonts/apercu/Apercu-LightItalic.ttf) format("truetype"),
    url(../fonts/apercu/Apercu-LightItalic.svg#Apercu-LightItalic) format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Regular.eot);
  src: url(../fonts/apercu/Apercu-Regulard41dd41d.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/apercu/Apercu-Regular.woff2) format("woff2"),
    url(../fonts/apercu/Apercu-Regular.woff) format("woff"),
    url(../fonts/apercu/Apercu-Regular.ttf) format("truetype"),
    url(../fonts/apercu/Apercu-Regular.svg#Apercu-Regular) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Italic.eot);
  src: url(../fonts/apercu/Apercu-Italicd41dd41d.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/apercu/Apercu-Italic.woff2) format("woff2"),
    url(../fonts/apercu/Apercu-Italic.woff) format("woff"),
    url(../fonts/apercu/Apercu-Italic.ttf) format("truetype"),
    url(../fonts/apercu/Apercu-Italic.svg#Apercu-Italic) format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Medium.eot);
  src: url(../fonts/apercu/Apercu-Mediumd41dd41d.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/apercu/Apercu-Medium.woff2) format("woff2"),
    url(../fonts/apercu/Apercu-Medium.woff) format("woff"),
    url(../fonts/apercu/Apercu-Medium.ttf) format("truetype"),
    url(../fonts/apercu/Apercu-Medium.svg#Apercu-Medium) format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-MediumItalic.eot);
  src: url(../fonts/apercu/Apercu-MediumItalicd41dd41d.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/apercu/Apercu-MediumItalic.woff2) format("woff2"),
    url(../fonts/apercu/Apercu-MediumItalic.woff) format("woff"),
    url(../fonts/apercu/Apercu-MediumItalic.ttf) format("truetype"),
    url(../fonts/apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic)
      format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-Bold.eot);
  src: url(../fonts/apercu/Apercu-Boldd41dd41d.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/apercu/Apercu-Bold.woff2) format("woff2"),
    url(../fonts/apercu/Apercu-Bold.woff) format("woff"),
    url(../fonts/apercu/Apercu-Bold.ttf) format("truetype"),
    url(../fonts/apercu/Apercu-Bold.svg#Apercu-Bold) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(../fonts/apercu/Apercu-BoldItalic.eot);
  src: url(../fonts/apercu/Apercu-BoldItalicd41dd41d.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/apercu/Apercu-BoldItalic.woff2) format("woff2"),
    url(../fonts/apercu/Apercu-BoldItalic.woff) format("woff"),
    url(../fonts/apercu/Apercu-BoldItalic.ttf) format("truetype"),
    url(../fonts/apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic) format("svg");
  font-weight: 700;
  font-style: italic;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #67e4e5;
  font-family: Apercu, "Source Sans Pro", Roboto, Arial, sans-serif;
  font-size: 20px;
  height: 100%;
  margin: 0px;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
}

.underline {
  text-decoration: underline;
}

a {
  color: #67e4e5;
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 0px;
}

.padding-10 {
  padding: 10px;
}

.left-padding {
  padding-left: 10px;
}

#site {
  display: table;
  height: 100vh;
  width: 100vw;
  transform: translateY(-135px);
}

.center {
  display: table;
  height: 100%;
  width: 100%;
}

.center-wrap {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.typer-wrapper {
  margin: 0px;
  padding: 5px;
  padding-left: 0;
}

.center-content {
  display: block;
  margin: 0px auto;
  padding: 50px;
  text-align: left;
  max-width: 780px;
}

.highlight-link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
  display: inline-block;
}

.highlight-link:hover {
  -webkit-box-shadow: inset 0 -30px 0 0 #67e4e5;
  box-shadow: inset 0 -30px 0 0 #67e4e5;
  color: #000;
}

ul {
  padding: 0;
  list-style: none;
}

.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto;
}
.social-icon {
  color: #67e4e5;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons a {
  color: #67e4e5;
  text-decoration: none;
}

.fa-envelope,
.fa-twitter,
.fa-instagram,
.fa-linkedin,
.fa-github,
.fa-behance,
.fa-dribbble,
.fa-gitlab,
.fa-folder-o,
.bottom-right-corner a {
  padding: 10px 12px;
  padding-left: 0px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #000000;
}

.fa-instagram:hover {
  color: #e4405f;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-envelope:hover {
  color: #dd4b39;
}

.fa-behance:hover {
  color: #053eff;
}

.fa-dribbble:hover {
  color: #ea4c89;
}

.fa-github:hover {
  color: #6e5494;
}

.fa-gitlab:hover {
  color: #e2432a;
}

.bottom-right-corner {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: url("../../assets/img/file.png");
}

.bottom-right-corner .fa-folder-o {
  font-size: 35px;
  text-align: right;
}

.bottom-right-corner a:hover {
  color: #e2432a;
}

.footer {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 50px;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 50px 30px;
  }
}

.footer__copyright {
  font-size: 15px;
  width: 250px;
}

@media screen and (max-width: 630px) {
  .footer__copyright {
    width: auto;
    text-align: center;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 630px) {
  .footer__copyright .bottom,
  .footer__copyright .top {
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright .bottom,
  .footer__copyright .top {
    display: block;
  }
}

.footer__copyright .emoji {
  width: 20px;
  height: 20px;
  margin: 0 3px;
  vertical-align: text-bottom;
}

@media screen and (max-width: 630px) {
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.footer__links a {
  position: relative;
  display: inline-block;
  color: #67e4e5 !important;
  text-decoration: none;
  font-size: 5px;
  margin: 0 15px;
  outline: 0;
}

@media screen and (max-width: 1024px) {
  .footer__links a {
    margin: 0 10px;
  }
}

.footer__links a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #67e4e5;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

@media screen and (max-width: 850px) {
  .footer__links a:after {
    display: none;
  }
}

.footer__links a:focus:after,
.footer__links a:hover:after {
  height: 2px;
  border-radius: 3px;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.footer__links a .text {
  font-size: 0.9rem;
  display: inline;
  letter-spacing: 1px;
}

@media screen and (max-width: 850px) {
  .footer__links a .text {
    display: none;
  }
}

.footer__links img {
  display: none;
  width: 22px;
}

@media screen and (max-width: 850px) {
  .footer__links img {
    display: inline-block;
  }
}

@media (max-width: 480px) {
  #site {
    transform: translateY(0px);
  }
}

/* Iron Man ANimation */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 999999;
}

.container-iron {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.ironman {
  animation: jet 1s infinite alternate, move 1s infinite alternate;
}
.sky {
  position: relative;
  animation: stars 1s infinite linear;
}
.star {
  width: 2px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  transform: rotate(15deg);
}
.star:after,
.star:before {
  content: "";
}
.star:after {
  width: 5px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
}
.star:before {
  width: 5px;
  height: 5px;
  box-shadow: 500px 10px #fff;
  position: absolute;
  border-radius: 50%;
}
.star-1 {
  top: 100px;
  left: 20%;
}
.star-1:after {
  top: 100px;
  left: 50px;
  animation: starBlink 2s infinite;
}
.star-2 {
  top: 150px;
  left: 10%;
}
.star-2:after {
  top: 200px;
  left: 10px;
}
.star-3 {
  top: 200px;
  left: 70%;
}
.star-3:after {
  top: 50px;
  left: 150px;
}
.star-4 {
  top: 500px;
  left: 90%;
}
.star-4:after {
  top: 10px;
  left: 250px;
}
.star-5 {
  top: 500px;
  left: 50%;
}
.star-5:after {
  top: 300px;
  left: 0px;
}
@-moz-keyframes jet {
  from {
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: -30px 0 #000, -20px 0 #000, -10px 0 #000, 10px 0 #000,
      20px 0 #000, 30px 0 #000, 40px 0 #000, -40px 10px #000, -30px 10px #f00,
      -20px 10px #f00, -10px 10px #f00, 0px 10px #f00, 10px 10px #f00,
      20px 10px #f00, 30px 10px #f00, 40px 10px #f00, 50px 10px #000,
      -50px 20px #000, -40px 20px #f00, -30px 20px #eef30c, -20px 20px #eef30c,
      -10px 20px #f00, 0px 20px #f00, 10px 20px #f00, 20px 20px #eef30c,
      30px 20px #eef30c, 40px 20px #f00, 50px 20px #f00, 60px 20px #000,
      -50px 30px #000, -40px 30px #eef30c, -30px 30px #eef30c,
      -20px 30px #eef30c, -10px 30px #f00, 0px 30px #f00, 10px 30px #f00,
      20px 30px #eef30c, 30px 30px #eef30c, 40px 30px #eef30c, 50px 30px #f00,
      60px 30px #000, -50px 40px #000, -40px 40px #eef30c, -30px 40px #fff,
      -20px 40px #fff, -10px 40px #f00, 0px 40px #f00, 10px 40px #f00,
      20px 40px #fff, 30px 40px #fff, 40px 40px #eef30c, 50px 40px #f00,
      60px 40px #000, -50px 50px #000, -40px 50px #eef30c, -30px 50px #eef30c,
      -20px 50px #eef30c, -10px 50px #eef30c, 0px 50px #eef30c,
      10px 50px #eef30c, 20px 50px #eef30c, 30px 50px #eef30c, 40px 50px #eef30c,
      50px 50px #f00, 60px 50px #000, -50px 60px #000, -40px 60px #f00,
      -30px 60px #eef30c, -20px 60px #eef30c, -10px 60px #eef30c,
      0px 60px #eef30c, 10px 60px #eef30c, 20px 60px #eef30c, 30px 60px #eef30c,
      40px 60px #f00, 50px 60px #f00, 60px 60px #000, -50px 70px #000,
      -40px 70px #f00, -30px 70px #eef30c, -20px 70px #eef30c, -10px 70px #000,
      0px 70px #000, 10px 70px #000, 20px 70px #eef30c, 30px 70px #eef30c,
      40px 70px #f00, 50px 70px #f00, 60px 70px #000, -40px 80px #000,
      -30px 80px #f00, -20px 80px #eef30c, -10px 80px #eef30c, 0px 80px #eef30c,
      10px 80px #eef30c, 20px 80px #eef30c, 30px 80px #eef30c, 40px 80px #f00,
      50px 80px #000, -40px 80px #000, -30px 90px #000, -20px 90px #000,
      -10px 90px #000, 0px 90px #000, 10px 90px #000, 20px 90px #000,
      30px 90px #000, 40px 90px #000, -40px 100px #000, -30px 100px #f00,
      -20px 100px #f00, -10px 100px #f00, 0px 100px #f00, 10px 100px #f00,
      20px 100px #f00, 30px 100px #f00, 40px 100px #f00, 50px 100px #000,
      -50px 110px #000, -40px 110px #eef30c, -30px 110px #000, -20px 110px #f00,
      -10px 110px #87c0ea, 0px 110px #87c0ea, 10px 110px #87c0ea,
      20px 110px #f00, 30px 110px #f00, 40px 110px #000, 50px 110px #eef30c,
      60px 110px #000, -50px 120px #000, -40px 120px #eef30c, -30px 120px #000,
      -20px 120px #f00, -10px 120px #f00, 0px 120px #87c0ea, 10px 120px #f00,
      20px 120px #f00, 30px 120px #f00, 40px 120px #000, 50px 120px #eef30c,
      60px 120px #000, -60px 130px #000, -50px 130px #f00, -40px 130px #000,
      -30px 130px #000, -20px 130px #f00, -10px 130px #f00, 0px 130px #f00,
      10px 130px #f00, 20px 130px #f00, 30px 130px #f00, 40px 130px #000,
      50px 130px #000, 60px 130px #f00, 70px 130px #000, -60px 140px #000,
      -50px 140px #000, -30px 140px #000, -20px 140px #eef30c, -10px 140px #f00,
      0px 140px #f00, 10px 140px #f00, 20px 140px #eef30c, 30px 140px #eef30c,
      40px 140px #000, 60px 140px #000, 70px 140px #000, -30px 150px #000,
      -20px 150px #000, -10px 150px #f00, 0px 150px #000, 10px 150px #000,
      20px 150px #f00, 30px 150px #f00, 40px 150px #000, -30px 160px #000,
      -20px 160px #000, -10px 160px #000, 20px 160px #000, 30px 160px #000,
      40px 160px #000, -30px 170px #18212d, -20px 170px #18212d,
      -10px 170px #18212d, 20px 170px #18212d, 30px 170px #18212d,
      40px 170px #18212d, -30px 180px #18212d, -20px 180px #18212d,
      -10px 180px #18212d, 20px 180px #18212d, 30px 180px #18212d,
      40px 180px #18212d, -20px 190px #18212d, -10px 190px #18212d,
      30px 190px #18212d, 40px 190px #18212d;
  }
  to {
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: -30px 0 #000, -20px 0 #000, -10px 0 #000, 10px 0 #000,
      20px 0 #000, 30px 0 #000, 40px 0 #000, -40px 10px #000, -30px 10px #f00,
      -20px 10px #f00, -10px 10px #f00, 0px 10px #f00, 10px 10px #f00,
      20px 10px #f00, 30px 10px #f00, 40px 10px #f00, 50px 10px #000,
      -50px 20px #000, -40px 20px #f00, -30px 20px #eef30c, -20px 20px #eef30c,
      -10px 20px #f00, 0px 20px #f00, 10px 20px #f00, 20px 20px #eef30c,
      30px 20px #eef30c, 40px 20px #f00, 50px 20px #f00, 60px 20px #000,
      -50px 30px #000, -40px 30px #eef30c, -30px 30px #eef30c,
      -20px 30px #eef30c, -10px 30px #f00, 0px 30px #f00, 10px 30px #f00,
      20px 30px #eef30c, 30px 30px #eef30c, 40px 30px #eef30c, 50px 30px #f00,
      60px 30px #000, -50px 40px #000, -40px 40px #eef30c, -30px 40px #fff,
      -20px 40px #fff, -10px 40px #f00, 0px 40px #f00, 10px 40px #f00,
      20px 40px #fff, 30px 40px #fff, 40px 40px #eef30c, 50px 40px #f00,
      60px 40px #000, -50px 50px #000, -40px 50px #eef30c, -30px 50px #eef30c,
      -20px 50px #eef30c, -10px 50px #eef30c, 0px 50px #eef30c,
      10px 50px #eef30c, 20px 50px #eef30c, 30px 50px #eef30c, 40px 50px #eef30c,
      50px 50px #f00, 60px 50px #000, -50px 60px #000, -40px 60px #f00,
      -30px 60px #eef30c, -20px 60px #eef30c, -10px 60px #eef30c,
      0px 60px #eef30c, 10px 60px #eef30c, 20px 60px #eef30c, 30px 60px #eef30c,
      40px 60px #f00, 50px 60px #f00, 60px 60px #000, -50px 70px #000,
      -40px 70px #f00, -30px 70px #eef30c, -20px 70px #eef30c, -10px 70px #000,
      0px 70px #000, 10px 70px #000, 20px 70px #eef30c, 30px 70px #eef30c,
      40px 70px #f00, 50px 70px #f00, 60px 70px #000, -40px 80px #000,
      -30px 80px #f00, -20px 80px #eef30c, -10px 80px #eef30c, 0px 80px #eef30c,
      10px 80px #eef30c, 20px 80px #eef30c, 30px 80px #eef30c, 40px 80px #f00,
      50px 80px #000, -40px 80px #000, -30px 90px #000, -20px 90px #000,
      -10px 90px #000, 0px 90px #000, 10px 90px #000, 20px 90px #000,
      30px 90px #000, 40px 90px #000, -40px 100px #000, -30px 100px #f00,
      -20px 100px #f00, -10px 100px #f00, 0px 100px #f00, 10px 100px #f00,
      20px 100px #f00, 30px 100px #f00, 40px 100px #f00, 50px 100px #000,
      -50px 110px #000, -40px 110px #eef30c, -30px 110px #000, -20px 110px #f00,
      -10px 110px #87c0ea, 0px 110px #87c0ea, 10px 110px #87c0ea,
      20px 110px #f00, 30px 110px #f00, 40px 110px #000, 50px 110px #eef30c,
      60px 110px #000, -50px 120px #000, -40px 120px #eef30c, -30px 120px #000,
      -20px 120px #f00, -10px 120px #f00, 0px 120px #87c0ea, 10px 120px #f00,
      20px 120px #f00, 30px 120px #f00, 40px 120px #000, 50px 120px #eef30c,
      60px 120px #000, -60px 130px #000, -50px 130px #f00, -40px 130px #000,
      -30px 130px #000, -20px 130px #f00, -10px 130px #f00, 0px 130px #f00,
      10px 130px #f00, 20px 130px #f00, 30px 130px #f00, 40px 130px #000,
      50px 130px #000, 60px 130px #f00, 70px 130px #000, -60px 140px #000,
      -50px 140px #000, -30px 140px #000, -20px 140px #eef30c, -10px 140px #f00,
      0px 140px #f00, 10px 140px #f00, 20px 140px #eef30c, 30px 140px #eef30c,
      40px 140px #000, 60px 140px #000, 70px 140px #000, -30px 150px #000,
      -20px 150px #000, -10px 150px #f00, 0px 150px #000, 10px 150px #000,
      20px 150px #f00, 30px 150px #f00, 40px 150px #000, -30px 160px #000,
      -20px 160px #000, -10px 160px #000, 20px 160px #000, 30px 160px #000,
      40px 160px #000, -30px 170px #87c0ea, -20px 170px #ddd,
      -10px 170px #87c0ea, 20px 170px #87c0ea, 30px 170px #ddd,
      40px 170px #87c0ea, -30px 180px #87c0ea, -20px 180px #ddd,
      -10px 180px #87c0ea, 20px 180px #87c0ea, 30px 180px #ddd,
      40px 180px #87c0ea, -20px 190px #87c0ea, -10px 190px #87c0ea,
      30px 190px #87c0ea, 40px 190px #87c0ea;
  }
}
@-webkit-keyframes jet {
  from {
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: -30px 0 #000, -20px 0 #000, -10px 0 #000, 10px 0 #000,
      20px 0 #000, 30px 0 #000, 40px 0 #000, -40px 10px #000, -30px 10px #f00,
      -20px 10px #f00, -10px 10px #f00, 0px 10px #f00, 10px 10px #f00,
      20px 10px #f00, 30px 10px #f00, 40px 10px #f00, 50px 10px #000,
      -50px 20px #000, -40px 20px #f00, -30px 20px #eef30c, -20px 20px #eef30c,
      -10px 20px #f00, 0px 20px #f00, 10px 20px #f00, 20px 20px #eef30c,
      30px 20px #eef30c, 40px 20px #f00, 50px 20px #f00, 60px 20px #000,
      -50px 30px #000, -40px 30px #eef30c, -30px 30px #eef30c,
      -20px 30px #eef30c, -10px 30px #f00, 0px 30px #f00, 10px 30px #f00,
      20px 30px #eef30c, 30px 30px #eef30c, 40px 30px #eef30c, 50px 30px #f00,
      60px 30px #000, -50px 40px #000, -40px 40px #eef30c, -30px 40px #fff,
      -20px 40px #fff, -10px 40px #f00, 0px 40px #f00, 10px 40px #f00,
      20px 40px #fff, 30px 40px #fff, 40px 40px #eef30c, 50px 40px #f00,
      60px 40px #000, -50px 50px #000, -40px 50px #eef30c, -30px 50px #eef30c,
      -20px 50px #eef30c, -10px 50px #eef30c, 0px 50px #eef30c,
      10px 50px #eef30c, 20px 50px #eef30c, 30px 50px #eef30c, 40px 50px #eef30c,
      50px 50px #f00, 60px 50px #000, -50px 60px #000, -40px 60px #f00,
      -30px 60px #eef30c, -20px 60px #eef30c, -10px 60px #eef30c,
      0px 60px #eef30c, 10px 60px #eef30c, 20px 60px #eef30c, 30px 60px #eef30c,
      40px 60px #f00, 50px 60px #f00, 60px 60px #000, -50px 70px #000,
      -40px 70px #f00, -30px 70px #eef30c, -20px 70px #eef30c, -10px 70px #000,
      0px 70px #000, 10px 70px #000, 20px 70px #eef30c, 30px 70px #eef30c,
      40px 70px #f00, 50px 70px #f00, 60px 70px #000, -40px 80px #000,
      -30px 80px #f00, -20px 80px #eef30c, -10px 80px #eef30c, 0px 80px #eef30c,
      10px 80px #eef30c, 20px 80px #eef30c, 30px 80px #eef30c, 40px 80px #f00,
      50px 80px #000, -40px 80px #000, -30px 90px #000, -20px 90px #000,
      -10px 90px #000, 0px 90px #000, 10px 90px #000, 20px 90px #000,
      30px 90px #000, 40px 90px #000, -40px 100px #000, -30px 100px #f00,
      -20px 100px #f00, -10px 100px #f00, 0px 100px #f00, 10px 100px #f00,
      20px 100px #f00, 30px 100px #f00, 40px 100px #f00, 50px 100px #000,
      -50px 110px #000, -40px 110px #eef30c, -30px 110px #000, -20px 110px #f00,
      -10px 110px #87c0ea, 0px 110px #87c0ea, 10px 110px #87c0ea,
      20px 110px #f00, 30px 110px #f00, 40px 110px #000, 50px 110px #eef30c,
      60px 110px #000, -50px 120px #000, -40px 120px #eef30c, -30px 120px #000,
      -20px 120px #f00, -10px 120px #f00, 0px 120px #87c0ea, 10px 120px #f00,
      20px 120px #f00, 30px 120px #f00, 40px 120px #000, 50px 120px #eef30c,
      60px 120px #000, -60px 130px #000, -50px 130px #f00, -40px 130px #000,
      -30px 130px #000, -20px 130px #f00, -10px 130px #f00, 0px 130px #f00,
      10px 130px #f00, 20px 130px #f00, 30px 130px #f00, 40px 130px #000,
      50px 130px #000, 60px 130px #f00, 70px 130px #000, -60px 140px #000,
      -50px 140px #000, -30px 140px #000, -20px 140px #eef30c, -10px 140px #f00,
      0px 140px #f00, 10px 140px #f00, 20px 140px #eef30c, 30px 140px #eef30c,
      40px 140px #000, 60px 140px #000, 70px 140px #000, -30px 150px #000,
      -20px 150px #000, -10px 150px #f00, 0px 150px #000, 10px 150px #000,
      20px 150px #f00, 30px 150px #f00, 40px 150px #000, -30px 160px #000,
      -20px 160px #000, -10px 160px #000, 20px 160px #000, 30px 160px #000,
      40px 160px #000, -30px 170px #18212d, -20px 170px #18212d,
      -10px 170px #18212d, 20px 170px #18212d, 30px 170px #18212d,
      40px 170px #18212d, -30px 180px #18212d, -20px 180px #18212d,
      -10px 180px #18212d, 20px 180px #18212d, 30px 180px #18212d,
      40px 180px #18212d, -20px 190px #18212d, -10px 190px #18212d,
      30px 190px #18212d, 40px 190px #18212d;
  }
  to {
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: -30px 0 #000, -20px 0 #000, -10px 0 #000, 10px 0 #000,
      20px 0 #000, 30px 0 #000, 40px 0 #000, -40px 10px #000, -30px 10px #f00,
      -20px 10px #f00, -10px 10px #f00, 0px 10px #f00, 10px 10px #f00,
      20px 10px #f00, 30px 10px #f00, 40px 10px #f00, 50px 10px #000,
      -50px 20px #000, -40px 20px #f00, -30px 20px #eef30c, -20px 20px #eef30c,
      -10px 20px #f00, 0px 20px #f00, 10px 20px #f00, 20px 20px #eef30c,
      30px 20px #eef30c, 40px 20px #f00, 50px 20px #f00, 60px 20px #000,
      -50px 30px #000, -40px 30px #eef30c, -30px 30px #eef30c,
      -20px 30px #eef30c, -10px 30px #f00, 0px 30px #f00, 10px 30px #f00,
      20px 30px #eef30c, 30px 30px #eef30c, 40px 30px #eef30c, 50px 30px #f00,
      60px 30px #000, -50px 40px #000, -40px 40px #eef30c, -30px 40px #fff,
      -20px 40px #fff, -10px 40px #f00, 0px 40px #f00, 10px 40px #f00,
      20px 40px #fff, 30px 40px #fff, 40px 40px #eef30c, 50px 40px #f00,
      60px 40px #000, -50px 50px #000, -40px 50px #eef30c, -30px 50px #eef30c,
      -20px 50px #eef30c, -10px 50px #eef30c, 0px 50px #eef30c,
      10px 50px #eef30c, 20px 50px #eef30c, 30px 50px #eef30c, 40px 50px #eef30c,
      50px 50px #f00, 60px 50px #000, -50px 60px #000, -40px 60px #f00,
      -30px 60px #eef30c, -20px 60px #eef30c, -10px 60px #eef30c,
      0px 60px #eef30c, 10px 60px #eef30c, 20px 60px #eef30c, 30px 60px #eef30c,
      40px 60px #f00, 50px 60px #f00, 60px 60px #000, -50px 70px #000,
      -40px 70px #f00, -30px 70px #eef30c, -20px 70px #eef30c, -10px 70px #000,
      0px 70px #000, 10px 70px #000, 20px 70px #eef30c, 30px 70px #eef30c,
      40px 70px #f00, 50px 70px #f00, 60px 70px #000, -40px 80px #000,
      -30px 80px #f00, -20px 80px #eef30c, -10px 80px #eef30c, 0px 80px #eef30c,
      10px 80px #eef30c, 20px 80px #eef30c, 30px 80px #eef30c, 40px 80px #f00,
      50px 80px #000, -40px 80px #000, -30px 90px #000, -20px 90px #000,
      -10px 90px #000, 0px 90px #000, 10px 90px #000, 20px 90px #000,
      30px 90px #000, 40px 90px #000, -40px 100px #000, -30px 100px #f00,
      -20px 100px #f00, -10px 100px #f00, 0px 100px #f00, 10px 100px #f00,
      20px 100px #f00, 30px 100px #f00, 40px 100px #f00, 50px 100px #000,
      -50px 110px #000, -40px 110px #eef30c, -30px 110px #000, -20px 110px #f00,
      -10px 110px #87c0ea, 0px 110px #87c0ea, 10px 110px #87c0ea,
      20px 110px #f00, 30px 110px #f00, 40px 110px #000, 50px 110px #eef30c,
      60px 110px #000, -50px 120px #000, -40px 120px #eef30c, -30px 120px #000,
      -20px 120px #f00, -10px 120px #f00, 0px 120px #87c0ea, 10px 120px #f00,
      20px 120px #f00, 30px 120px #f00, 40px 120px #000, 50px 120px #eef30c,
      60px 120px #000, -60px 130px #000, -50px 130px #f00, -40px 130px #000,
      -30px 130px #000, -20px 130px #f00, -10px 130px #f00, 0px 130px #f00,
      10px 130px #f00, 20px 130px #f00, 30px 130px #f00, 40px 130px #000,
      50px 130px #000, 60px 130px #f00, 70px 130px #000, -60px 140px #000,
      -50px 140px #000, -30px 140px #000, -20px 140px #eef30c, -10px 140px #f00,
      0px 140px #f00, 10px 140px #f00, 20px 140px #eef30c, 30px 140px #eef30c,
      40px 140px #000, 60px 140px #000, 70px 140px #000, -30px 150px #000,
      -20px 150px #000, -10px 150px #f00, 0px 150px #000, 10px 150px #000,
      20px 150px #f00, 30px 150px #f00, 40px 150px #000, -30px 160px #000,
      -20px 160px #000, -10px 160px #000, 20px 160px #000, 30px 160px #000,
      40px 160px #000, -30px 170px #87c0ea, -20px 170px #ddd,
      -10px 170px #87c0ea, 20px 170px #87c0ea, 30px 170px #ddd,
      40px 170px #87c0ea, -30px 180px #87c0ea, -20px 180px #ddd,
      -10px 180px #87c0ea, 20px 180px #87c0ea, 30px 180px #ddd,
      40px 180px #87c0ea, -20px 190px #87c0ea, -10px 190px #87c0ea,
      30px 190px #87c0ea, 40px 190px #87c0ea;
  }
}
@-o-keyframes jet {
  from {
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: -30px 0 #000, -20px 0 #000, -10px 0 #000, 10px 0 #000,
      20px 0 #000, 30px 0 #000, 40px 0 #000, -40px 10px #000, -30px 10px #f00,
      -20px 10px #f00, -10px 10px #f00, 0px 10px #f00, 10px 10px #f00,
      20px 10px #f00, 30px 10px #f00, 40px 10px #f00, 50px 10px #000,
      -50px 20px #000, -40px 20px #f00, -30px 20px #eef30c, -20px 20px #eef30c,
      -10px 20px #f00, 0px 20px #f00, 10px 20px #f00, 20px 20px #eef30c,
      30px 20px #eef30c, 40px 20px #f00, 50px 20px #f00, 60px 20px #000,
      -50px 30px #000, -40px 30px #eef30c, -30px 30px #eef30c,
      -20px 30px #eef30c, -10px 30px #f00, 0px 30px #f00, 10px 30px #f00,
      20px 30px #eef30c, 30px 30px #eef30c, 40px 30px #eef30c, 50px 30px #f00,
      60px 30px #000, -50px 40px #000, -40px 40px #eef30c, -30px 40px #fff,
      -20px 40px #fff, -10px 40px #f00, 0px 40px #f00, 10px 40px #f00,
      20px 40px #fff, 30px 40px #fff, 40px 40px #eef30c, 50px 40px #f00,
      60px 40px #000, -50px 50px #000, -40px 50px #eef30c, -30px 50px #eef30c,
      -20px 50px #eef30c, -10px 50px #eef30c, 0px 50px #eef30c,
      10px 50px #eef30c, 20px 50px #eef30c, 30px 50px #eef30c, 40px 50px #eef30c,
      50px 50px #f00, 60px 50px #000, -50px 60px #000, -40px 60px #f00,
      -30px 60px #eef30c, -20px 60px #eef30c, -10px 60px #eef30c,
      0px 60px #eef30c, 10px 60px #eef30c, 20px 60px #eef30c, 30px 60px #eef30c,
      40px 60px #f00, 50px 60px #f00, 60px 60px #000, -50px 70px #000,
      -40px 70px #f00, -30px 70px #eef30c, -20px 70px #eef30c, -10px 70px #000,
      0px 70px #000, 10px 70px #000, 20px 70px #eef30c, 30px 70px #eef30c,
      40px 70px #f00, 50px 70px #f00, 60px 70px #000, -40px 80px #000,
      -30px 80px #f00, -20px 80px #eef30c, -10px 80px #eef30c, 0px 80px #eef30c,
      10px 80px #eef30c, 20px 80px #eef30c, 30px 80px #eef30c, 40px 80px #f00,
      50px 80px #000, -40px 80px #000, -30px 90px #000, -20px 90px #000,
      -10px 90px #000, 0px 90px #000, 10px 90px #000, 20px 90px #000,
      30px 90px #000, 40px 90px #000, -40px 100px #000, -30px 100px #f00,
      -20px 100px #f00, -10px 100px #f00, 0px 100px #f00, 10px 100px #f00,
      20px 100px #f00, 30px 100px #f00, 40px 100px #f00, 50px 100px #000,
      -50px 110px #000, -40px 110px #eef30c, -30px 110px #000, -20px 110px #f00,
      -10px 110px #87c0ea, 0px 110px #87c0ea, 10px 110px #87c0ea,
      20px 110px #f00, 30px 110px #f00, 40px 110px #000, 50px 110px #eef30c,
      60px 110px #000, -50px 120px #000, -40px 120px #eef30c, -30px 120px #000,
      -20px 120px #f00, -10px 120px #f00, 0px 120px #87c0ea, 10px 120px #f00,
      20px 120px #f00, 30px 120px #f00, 40px 120px #000, 50px 120px #eef30c,
      60px 120px #000, -60px 130px #000, -50px 130px #f00, -40px 130px #000,
      -30px 130px #000, -20px 130px #f00, -10px 130px #f00, 0px 130px #f00,
      10px 130px #f00, 20px 130px #f00, 30px 130px #f00, 40px 130px #000,
      50px 130px #000, 60px 130px #f00, 70px 130px #000, -60px 140px #000,
      -50px 140px #000, -30px 140px #000, -20px 140px #eef30c, -10px 140px #f00,
      0px 140px #f00, 10px 140px #f00, 20px 140px #eef30c, 30px 140px #eef30c,
      40px 140px #000, 60px 140px #000, 70px 140px #000, -30px 150px #000,
      -20px 150px #000, -10px 150px #f00, 0px 150px #000, 10px 150px #000,
      20px 150px #f00, 30px 150px #f00, 40px 150px #000, -30px 160px #000,
      -20px 160px #000, -10px 160px #000, 20px 160px #000, 30px 160px #000,
      40px 160px #000, -30px 170px #18212d, -20px 170px #18212d,
      -10px 170px #18212d, 20px 170px #18212d, 30px 170px #18212d,
      40px 170px #18212d, -30px 180px #18212d, -20px 180px #18212d,
      -10px 180px #18212d, 20px 180px #18212d, 30px 180px #18212d,
      40px 180px #18212d, -20px 190px #18212d, -10px 190px #18212d,
      30px 190px #18212d, 40px 190px #18212d;
  }
  to {
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: -30px 0 #000, -20px 0 #000, -10px 0 #000, 10px 0 #000,
      20px 0 #000, 30px 0 #000, 40px 0 #000, -40px 10px #000, -30px 10px #f00,
      -20px 10px #f00, -10px 10px #f00, 0px 10px #f00, 10px 10px #f00,
      20px 10px #f00, 30px 10px #f00, 40px 10px #f00, 50px 10px #000,
      -50px 20px #000, -40px 20px #f00, -30px 20px #eef30c, -20px 20px #eef30c,
      -10px 20px #f00, 0px 20px #f00, 10px 20px #f00, 20px 20px #eef30c,
      30px 20px #eef30c, 40px 20px #f00, 50px 20px #f00, 60px 20px #000,
      -50px 30px #000, -40px 30px #eef30c, -30px 30px #eef30c,
      -20px 30px #eef30c, -10px 30px #f00, 0px 30px #f00, 10px 30px #f00,
      20px 30px #eef30c, 30px 30px #eef30c, 40px 30px #eef30c, 50px 30px #f00,
      60px 30px #000, -50px 40px #000, -40px 40px #eef30c, -30px 40px #fff,
      -20px 40px #fff, -10px 40px #f00, 0px 40px #f00, 10px 40px #f00,
      20px 40px #fff, 30px 40px #fff, 40px 40px #eef30c, 50px 40px #f00,
      60px 40px #000, -50px 50px #000, -40px 50px #eef30c, -30px 50px #eef30c,
      -20px 50px #eef30c, -10px 50px #eef30c, 0px 50px #eef30c,
      10px 50px #eef30c, 20px 50px #eef30c, 30px 50px #eef30c, 40px 50px #eef30c,
      50px 50px #f00, 60px 50px #000, -50px 60px #000, -40px 60px #f00,
      -30px 60px #eef30c, -20px 60px #eef30c, -10px 60px #eef30c,
      0px 60px #eef30c, 10px 60px #eef30c, 20px 60px #eef30c, 30px 60px #eef30c,
      40px 60px #f00, 50px 60px #f00, 60px 60px #000, -50px 70px #000,
      -40px 70px #f00, -30px 70px #eef30c, -20px 70px #eef30c, -10px 70px #000,
      0px 70px #000, 10px 70px #000, 20px 70px #eef30c, 30px 70px #eef30c,
      40px 70px #f00, 50px 70px #f00, 60px 70px #000, -40px 80px #000,
      -30px 80px #f00, -20px 80px #eef30c, -10px 80px #eef30c, 0px 80px #eef30c,
      10px 80px #eef30c, 20px 80px #eef30c, 30px 80px #eef30c, 40px 80px #f00,
      50px 80px #000, -40px 80px #000, -30px 90px #000, -20px 90px #000,
      -10px 90px #000, 0px 90px #000, 10px 90px #000, 20px 90px #000,
      30px 90px #000, 40px 90px #000, -40px 100px #000, -30px 100px #f00,
      -20px 100px #f00, -10px 100px #f00, 0px 100px #f00, 10px 100px #f00,
      20px 100px #f00, 30px 100px #f00, 40px 100px #f00, 50px 100px #000,
      -50px 110px #000, -40px 110px #eef30c, -30px 110px #000, -20px 110px #f00,
      -10px 110px #87c0ea, 0px 110px #87c0ea, 10px 110px #87c0ea,
      20px 110px #f00, 30px 110px #f00, 40px 110px #000, 50px 110px #eef30c,
      60px 110px #000, -50px 120px #000, -40px 120px #eef30c, -30px 120px #000,
      -20px 120px #f00, -10px 120px #f00, 0px 120px #87c0ea, 10px 120px #f00,
      20px 120px #f00, 30px 120px #f00, 40px 120px #000, 50px 120px #eef30c,
      60px 120px #000, -60px 130px #000, -50px 130px #f00, -40px 130px #000,
      -30px 130px #000, -20px 130px #f00, -10px 130px #f00, 0px 130px #f00,
      10px 130px #f00, 20px 130px #f00, 30px 130px #f00, 40px 130px #000,
      50px 130px #000, 60px 130px #f00, 70px 130px #000, -60px 140px #000,
      -50px 140px #000, -30px 140px #000, -20px 140px #eef30c, -10px 140px #f00,
      0px 140px #f00, 10px 140px #f00, 20px 140px #eef30c, 30px 140px #eef30c,
      40px 140px #000, 60px 140px #000, 70px 140px #000, -30px 150px #000,
      -20px 150px #000, -10px 150px #f00, 0px 150px #000, 10px 150px #000,
      20px 150px #f00, 30px 150px #f00, 40px 150px #000, -30px 160px #000,
      -20px 160px #000, -10px 160px #000, 20px 160px #000, 30px 160px #000,
      40px 160px #000, -30px 170px #87c0ea, -20px 170px #ddd,
      -10px 170px #87c0ea, 20px 170px #87c0ea, 30px 170px #ddd,
      40px 170px #87c0ea, -30px 180px #87c0ea, -20px 180px #ddd,
      -10px 180px #87c0ea, 20px 180px #87c0ea, 30px 180px #ddd,
      40px 180px #87c0ea, -20px 190px #87c0ea, -10px 190px #87c0ea,
      30px 190px #87c0ea, 40px 190px #87c0ea;
  }
}
@keyframes jet {
  from {
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: -30px 0 #000, -20px 0 #000, -10px 0 #000, 10px 0 #000,
      20px 0 #000, 30px 0 #000, 40px 0 #000, -40px 10px #000, -30px 10px #f00,
      -20px 10px #f00, -10px 10px #f00, 0px 10px #f00, 10px 10px #f00,
      20px 10px #f00, 30px 10px #f00, 40px 10px #f00, 50px 10px #000,
      -50px 20px #000, -40px 20px #f00, -30px 20px #eef30c, -20px 20px #eef30c,
      -10px 20px #f00, 0px 20px #f00, 10px 20px #f00, 20px 20px #eef30c,
      30px 20px #eef30c, 40px 20px #f00, 50px 20px #f00, 60px 20px #000,
      -50px 30px #000, -40px 30px #eef30c, -30px 30px #eef30c,
      -20px 30px #eef30c, -10px 30px #f00, 0px 30px #f00, 10px 30px #f00,
      20px 30px #eef30c, 30px 30px #eef30c, 40px 30px #eef30c, 50px 30px #f00,
      60px 30px #000, -50px 40px #000, -40px 40px #eef30c, -30px 40px #fff,
      -20px 40px #fff, -10px 40px #f00, 0px 40px #f00, 10px 40px #f00,
      20px 40px #fff, 30px 40px #fff, 40px 40px #eef30c, 50px 40px #f00,
      60px 40px #000, -50px 50px #000, -40px 50px #eef30c, -30px 50px #eef30c,
      -20px 50px #eef30c, -10px 50px #eef30c, 0px 50px #eef30c,
      10px 50px #eef30c, 20px 50px #eef30c, 30px 50px #eef30c, 40px 50px #eef30c,
      50px 50px #f00, 60px 50px #000, -50px 60px #000, -40px 60px #f00,
      -30px 60px #eef30c, -20px 60px #eef30c, -10px 60px #eef30c,
      0px 60px #eef30c, 10px 60px #eef30c, 20px 60px #eef30c, 30px 60px #eef30c,
      40px 60px #f00, 50px 60px #f00, 60px 60px #000, -50px 70px #000,
      -40px 70px #f00, -30px 70px #eef30c, -20px 70px #eef30c, -10px 70px #000,
      0px 70px #000, 10px 70px #000, 20px 70px #eef30c, 30px 70px #eef30c,
      40px 70px #f00, 50px 70px #f00, 60px 70px #000, -40px 80px #000,
      -30px 80px #f00, -20px 80px #eef30c, -10px 80px #eef30c, 0px 80px #eef30c,
      10px 80px #eef30c, 20px 80px #eef30c, 30px 80px #eef30c, 40px 80px #f00,
      50px 80px #000, -40px 80px #000, -30px 90px #000, -20px 90px #000,
      -10px 90px #000, 0px 90px #000, 10px 90px #000, 20px 90px #000,
      30px 90px #000, 40px 90px #000, -40px 100px #000, -30px 100px #f00,
      -20px 100px #f00, -10px 100px #f00, 0px 100px #f00, 10px 100px #f00,
      20px 100px #f00, 30px 100px #f00, 40px 100px #f00, 50px 100px #000,
      -50px 110px #000, -40px 110px #eef30c, -30px 110px #000, -20px 110px #f00,
      -10px 110px #87c0ea, 0px 110px #87c0ea, 10px 110px #87c0ea,
      20px 110px #f00, 30px 110px #f00, 40px 110px #000, 50px 110px #eef30c,
      60px 110px #000, -50px 120px #000, -40px 120px #eef30c, -30px 120px #000,
      -20px 120px #f00, -10px 120px #f00, 0px 120px #87c0ea, 10px 120px #f00,
      20px 120px #f00, 30px 120px #f00, 40px 120px #000, 50px 120px #eef30c,
      60px 120px #000, -60px 130px #000, -50px 130px #f00, -40px 130px #000,
      -30px 130px #000, -20px 130px #f00, -10px 130px #f00, 0px 130px #f00,
      10px 130px #f00, 20px 130px #f00, 30px 130px #f00, 40px 130px #000,
      50px 130px #000, 60px 130px #f00, 70px 130px #000, -60px 140px #000,
      -50px 140px #000, -30px 140px #000, -20px 140px #eef30c, -10px 140px #f00,
      0px 140px #f00, 10px 140px #f00, 20px 140px #eef30c, 30px 140px #eef30c,
      40px 140px #000, 60px 140px #000, 70px 140px #000, -30px 150px #000,
      -20px 150px #000, -10px 150px #f00, 0px 150px #000, 10px 150px #000,
      20px 150px #f00, 30px 150px #f00, 40px 150px #000, -30px 160px #000,
      -20px 160px #000, -10px 160px #000, 20px 160px #000, 30px 160px #000,
      40px 160px #000, -30px 170px #18212d, -20px 170px #18212d,
      -10px 170px #18212d, 20px 170px #18212d, 30px 170px #18212d,
      40px 170px #18212d, -30px 180px #18212d, -20px 180px #18212d,
      -10px 180px #18212d, 20px 180px #18212d, 30px 180px #18212d,
      40px 180px #18212d, -20px 190px #18212d, -10px 190px #18212d,
      30px 190px #18212d, 40px 190px #18212d;
  }
  to {
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: -30px 0 #000, -20px 0 #000, -10px 0 #000, 10px 0 #000,
      20px 0 #000, 30px 0 #000, 40px 0 #000, -40px 10px #000, -30px 10px #f00,
      -20px 10px #f00, -10px 10px #f00, 0px 10px #f00, 10px 10px #f00,
      20px 10px #f00, 30px 10px #f00, 40px 10px #f00, 50px 10px #000,
      -50px 20px #000, -40px 20px #f00, -30px 20px #eef30c, -20px 20px #eef30c,
      -10px 20px #f00, 0px 20px #f00, 10px 20px #f00, 20px 20px #eef30c,
      30px 20px #eef30c, 40px 20px #f00, 50px 20px #f00, 60px 20px #000,
      -50px 30px #000, -40px 30px #eef30c, -30px 30px #eef30c,
      -20px 30px #eef30c, -10px 30px #f00, 0px 30px #f00, 10px 30px #f00,
      20px 30px #eef30c, 30px 30px #eef30c, 40px 30px #eef30c, 50px 30px #f00,
      60px 30px #000, -50px 40px #000, -40px 40px #eef30c, -30px 40px #fff,
      -20px 40px #fff, -10px 40px #f00, 0px 40px #f00, 10px 40px #f00,
      20px 40px #fff, 30px 40px #fff, 40px 40px #eef30c, 50px 40px #f00,
      60px 40px #000, -50px 50px #000, -40px 50px #eef30c, -30px 50px #eef30c,
      -20px 50px #eef30c, -10px 50px #eef30c, 0px 50px #eef30c,
      10px 50px #eef30c, 20px 50px #eef30c, 30px 50px #eef30c, 40px 50px #eef30c,
      50px 50px #f00, 60px 50px #000, -50px 60px #000, -40px 60px #f00,
      -30px 60px #eef30c, -20px 60px #eef30c, -10px 60px #eef30c,
      0px 60px #eef30c, 10px 60px #eef30c, 20px 60px #eef30c, 30px 60px #eef30c,
      40px 60px #f00, 50px 60px #f00, 60px 60px #000, -50px 70px #000,
      -40px 70px #f00, -30px 70px #eef30c, -20px 70px #eef30c, -10px 70px #000,
      0px 70px #000, 10px 70px #000, 20px 70px #eef30c, 30px 70px #eef30c,
      40px 70px #f00, 50px 70px #f00, 60px 70px #000, -40px 80px #000,
      -30px 80px #f00, -20px 80px #eef30c, -10px 80px #eef30c, 0px 80px #eef30c,
      10px 80px #eef30c, 20px 80px #eef30c, 30px 80px #eef30c, 40px 80px #f00,
      50px 80px #000, -40px 80px #000, -30px 90px #000, -20px 90px #000,
      -10px 90px #000, 0px 90px #000, 10px 90px #000, 20px 90px #000,
      30px 90px #000, 40px 90px #000, -40px 100px #000, -30px 100px #f00,
      -20px 100px #f00, -10px 100px #f00, 0px 100px #f00, 10px 100px #f00,
      20px 100px #f00, 30px 100px #f00, 40px 100px #f00, 50px 100px #000,
      -50px 110px #000, -40px 110px #eef30c, -30px 110px #000, -20px 110px #f00,
      -10px 110px #87c0ea, 0px 110px #87c0ea, 10px 110px #87c0ea,
      20px 110px #f00, 30px 110px #f00, 40px 110px #000, 50px 110px #eef30c,
      60px 110px #000, -50px 120px #000, -40px 120px #eef30c, -30px 120px #000,
      -20px 120px #f00, -10px 120px #f00, 0px 120px #87c0ea, 10px 120px #f00,
      20px 120px #f00, 30px 120px #f00, 40px 120px #000, 50px 120px #eef30c,
      60px 120px #000, -60px 130px #000, -50px 130px #f00, -40px 130px #000,
      -30px 130px #000, -20px 130px #f00, -10px 130px #f00, 0px 130px #f00,
      10px 130px #f00, 20px 130px #f00, 30px 130px #f00, 40px 130px #000,
      50px 130px #000, 60px 130px #f00, 70px 130px #000, -60px 140px #000,
      -50px 140px #000, -30px 140px #000, -20px 140px #eef30c, -10px 140px #f00,
      0px 140px #f00, 10px 140px #f00, 20px 140px #eef30c, 30px 140px #eef30c,
      40px 140px #000, 60px 140px #000, 70px 140px #000, -30px 150px #000,
      -20px 150px #000, -10px 150px #f00, 0px 150px #000, 10px 150px #000,
      20px 150px #f00, 30px 150px #f00, 40px 150px #000, -30px 160px #000,
      -20px 160px #000, -10px 160px #000, 20px 160px #000, 30px 160px #000,
      40px 160px #000, -30px 170px #87c0ea, -20px 170px #ddd,
      -10px 170px #87c0ea, 20px 170px #87c0ea, 30px 170px #ddd,
      40px 170px #87c0ea, -30px 180px #87c0ea, -20px 180px #ddd,
      -10px 180px #87c0ea, 20px 180px #87c0ea, 30px 180px #ddd,
      40px 180px #87c0ea, -20px 190px #87c0ea, -10px 190px #87c0ea,
      30px 190px #87c0ea, 40px 190px #87c0ea;
  }
}
@-moz-keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -10px);
  }
}
@-webkit-keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -10px);
  }
}
@-o-keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -10px);
  }
}
@keyframes move {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -10px);
  }
}
@-moz-keyframes stars {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(400px);
  }
}
@-webkit-keyframes stars {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(400px);
  }
}
@-o-keyframes stars {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(400px);
  }
}
@keyframes stars {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(400px);
  }
}
@-moz-keyframes starBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes starBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes starBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes starBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
